.flex-container{
  height: 100%;
  padding-top: 0;
  margin-top: 0;
  background-position: center;
  background-size: cover;
  display: flex;
  box-shadow: 0px 8px 40px 0px rgba(138, 149, 158, 0.20)

}
.wrapper{
  margin: 4rem 2rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.logo-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.horizontal-break {
  display: flex;
  align-items: center;
  height: 2px;
  background-color: #BDBDBD;
  width: 100%;
}
.form-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: white;
  box-shadow: 0px 8px 40px 0px rgba(138, 149, 158, 0.20);
  form{
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    mat-label{
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 600;
      line-height: 1.5rem;
    }
    input{
      display: block;
      border-radius: 0.375rem;
      width: 100%;
    }
    .rounded-button {
      border-radius: 50px;
      font-size: 0.875rem;
      color: #303030;
      margin: 0.5rem 0;
      outline: none;
      font-weight: 600;
      text-decoration: none;
    }
    ion-button{
      text-transform: none;
    }
  }
}

img{
  padding: 0 1rem;
}
span{
  line-height: 40%;
}
h1{
  letter-spacing: 0.05rem;
  line-height: 40%;
  font-size: xx-large;
  color: #242424;
}
p{
  font-size: 0.875rem;
  color: #808080;
}
