
<ion-card class="custom-card">
  <div class="custom-img" [style.backgroundImage]="'url(' + item?.main_image + ')'">
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button class="custom-fab-button">
        <ion-icon class="ion-fab-button-icon" name="bag-add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <ion-card-header>
    <ion-card-title>{{item?.name}}</ion-card-title>
    <ion-card-subtitle>$ {{item?.price}}</ion-card-subtitle>
  </ion-card-header>
</ion-card>

