<ion-content [fullscreen]="true">
  <div class="flex-container">
    <div class="wrapper">
      <div class="text-container">
        <span>
          <h1>MAKE YOUR</h1>
          <h1>HOME BEAUTIFUL</h1>
        </span>
        <p>The best simple place where you discover
          most wonderful furnitures and make your
          home beautiful</p>
      </div>
      <div>
        <ion-button (click)="start()" size="large" color="dark" expand="block">
          Get Started
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
