ion-toolbar{
  display: flex;
  flex-direction: row;
  .ion-text-center{
    display:flex;
    flex-direction: column;
    text-align: center;
    line-height: 0%;
    .topG{

    }
    .bottomG{
      font-weight: 600;
    }
  }
}
ion-tab-bar{
  margin-top:3.8rem;
  border-bottom: none;
  overflow-x: auto;
  white-space: nowrap;
}
ion-content{
  text-align: center;
  .home-container{
    display:flex;
    margin: 1rem;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    .category-wrapper{
      display: flex;
      flex-direction: row;
      gap: 1rem;
      overflow-x: auto;
      white-space: nowrap; /* Prevents content from wrapping */
      .deactivated-button{
        font-weight: 500;
        color: #808080 !important;
      }
      div{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-weight: 500;
        ion-button{
          color: #303030;
          outline: none;
          text-decoration: none;
          ion-icon{
            padding: 0.25rem 0;
          }
        }
      }
    }
  }
}



