<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="navToCart()">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <p class="topG">Make Home</p>
      <p class="bottomG">Beautiful</p>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-tabs>
  <ion-tab-bar slot="top" >
    <ion-tab-button class="custom-tab-button" tab="popular" href="/home/main/popular">
      <ion-icon name="star"></ion-icon>
      <ion-label>Popular</ion-label>
    </ion-tab-button>
    <ion-tab-button  class="custom-tab-button" tab="chair" href="/home/main/chair">
      <ion-icon name="folder-open"></ion-icon>
      <ion-label>Chair</ion-label>
    </ion-tab-button>
    <ion-tab-button class="custom-tab-button" tab="table" href="/home/main/table">
      <ion-icon name="library"></ion-icon>
      <ion-label>Table</ion-label>
    </ion-tab-button>
    <ion-tab-button class="custom-tab-button" tab="armchair" href="/home/main/armchair">
      <ion-icon name="heart-circle"></ion-icon>
      <ion-label>Armchair</ion-label>
    </ion-tab-button>
    <ion-tab-button class="custom-tab-button" tab="bed" href="/home/main/bed">
      <ion-icon name="bed"></ion-icon>
      <ion-label>Bed</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<!-- <ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true">
    <div class="home-container">
      <div class="category-wrapper">
        <div>
          <ion-button color="dark" fill="solid">
            <ion-icon src="../../assets/svg/star.svg" name="person-circle"></ion-icon>
          </ion-button>
          Popular
        </div>
        <div class="deactivated-button">
          <ion-button color="light" fill="solid">
            <ion-icon src="../../assets/svg/chair.svg" name="chair"></ion-icon>
          </ion-button>
          Chair
        </div>
        <div class="deactivated-button">
          <ion-button color="light" fill="solid">
            <ion-icon src="../../assets/svg/table.svg" name="table"></ion-icon>
          </ion-button>
          Table
        </div>
        <div class="deactivated-button">
          <ion-button color="light" fill="solid">
            <ion-icon src="../../assets/svg/armchair.svg" name="armchair"></ion-icon>
          </ion-button>
          Armchair
        </div>
        <div class="deactivated-button">
          <ion-button color="light" fill="solid">
            <ion-icon src="../../assets/svg/bed.svg" name="bed"></ion-icon>
          </ion-button>
          Bed
        </div>
      </div>
      <div>
        asdasdasd
      </div>
    </div>
  </ion-content>
</ion-content> -->
