<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <p class="topG">Make Home</p>
      <p class="bottomG">Beautiful</p>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true">
    <div class="home-container">
      <div class="category-wrapper">
        <div>
          <ion-button color="dark" fill="solid">
            <ion-icon src="../../assets/svg/star.svg" name="person-circle"></ion-icon>
          </ion-button>
          Popular
        </div>
        <div class="deactivated-button">
          <ion-button color="light" fill="solid">
            <ion-icon src="../../assets/svg/chair.svg" name="chair"></ion-icon>
          </ion-button>
          Chair
        </div>
        <div class="deactivated-button">
          <ion-button color="light" fill="solid">
            <ion-icon src="../../assets/svg/table.svg" name="table"></ion-icon>
          </ion-button>
          Table
        </div>
        <div class="deactivated-button">
          <ion-button color="light" fill="solid">
            <ion-icon src="../../assets/svg/armchair.svg" name="armchair"></ion-icon>
          </ion-button>
          Armchair
        </div>
        <div class="deactivated-button">
          <ion-button color="light" fill="solid">
            <ion-icon src="../../assets/svg/bed.svg" name="bed"></ion-icon>
          </ion-button>
          Bed
        </div>
      </div>
      <div>
        asdasdasd
      </div>
    </div>
  </ion-content>
</ion-content>
