<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navToHome()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons >
    <ion-title class="ion-text-center">My Cart</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <div class="list-wrapper" *ngFor="let item of cartItems">
      <app-cart-card [item]="item"></app-cart-card>
    </div>
  </div>
</ion-content>
<ion-footer [translucent]="true"  class="ion-text-center ion-no-border">
  <ion-toolbar >
    <form [formGroup]="voucher" (ngSubmit)="applyVoucher()">
      <mat-form-field  >
        <mat-label for="discount">Promo Code</mat-label>
        <input matInput name="discount" placeholder="Enter a valid promo code"
        formControlName="discount">
        <mat-error *ngIf="voucher.get('discount')?.invalid">
          {{ checkDiscount() }}
        </mat-error>
      </mat-form-field>
      <ion-button class="custom-fab-button-stepper" [disabled]="voucher.invalid || voucher.get('discount')?.value === ''" (click)="applyVoucher()">
        <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
      </ion-button>
    </form>
    <div class="total-wrapper">
      <h3 class="total-text">Price</h3>
      <h3 class="price-text">$ {{total$ | async}}</h3>
    </div>
    <div class="checkout-wrapper">
      <ion-button color="dark" expand="block" size="small" class="cart-button" (click)="checkout()">
        <ion-icon name="bag-check"></ion-icon>
        <p>Checkout</p>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
