:root{
  ion-buttons {
    --box-shadow: none;
  }
  ion-tabs-button{
    --ion-color-selected: #242424;
  }
}
ion-tab-bar{
  overflow-x: auto;
  white-space: nowrap;
}
ion-toolbar{
  display: flex;
  flex-direction: row;
  .ion-text-center{
    display:flex;
    flex-direction: column;
    text-align: center;
    line-height: 0%;
    .topG{

    }
    .bottomG{
      font-weight: 600;
    }
  }
}

ion-content{
  text-align: center;
  .home-container{
    display:flex;
    margin: 1rem;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    .category-wrapper{
      display: flex;
      flex-direction: row;
      gap: 1rem;
      .deactivated-button{
        font-weight: 500;
        color: #808080 !important;
      }
      div{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-weight: 500;
        ion-button{
          color: #303030;
          outline: none;
          text-decoration: none;
          ion-icon{
            padding: 0.25rem 0;
          }
        }
      }
    }
  }
}
ion-footer{
  ion-toolbar{
    ion-buttons{
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
  }
}
p{
  font-size: 1.15rem;
  color:#242424;
}


@media (min-width: 1280px) {
  ion-header, ion-tabs{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}
