
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button class="custom-tab-button" tab="main" href="/home/main">
        <ion-icon name="home" ></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="custom-tab-button" tab="favorites" href="/home/favorites">
      <ion-icon name="bookmarks"></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="custom-tab-button" tab="notifications" href="/home/notifications">
      <ion-icon name="notifications"></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="custom-tab-button" tab="profile" href="/home/profile">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
