
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button class="custom-tab-button" tab="main" href="/home/main">
        <ion-icon name="home" ></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="custom-tab-button" tab="bookmarks" href="/home/bookmarks">
      <ion-icon name="bookmarks"></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="custom-tab-button" tab="notifications" href="/home/notifications">
      <ion-icon name="notifications"></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="custom-tab-button" tab="profile" href="/home/profile">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<!-- <ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <ion-icon name="home-outline"></ion-icon>
        <ion-icon name="home"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="bookmarks-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->
